<div class="">
  <div class="mb-8">
    <h1><%= pet.petName %> </h1>
  </div>
  <div class="">
    <h2 class="mb-2">Owner Details</h2>
    <div class="mb-2">
      <h3><%= pet.ownerName %> </h3>
    </div>
    <div class="mb-2">
      <h3><%= pet.email %> </h3>
    </div>
    <div class="mb-2">
      <h3><%= pet.phone %> </h3>
    </div>
  </div>
</div>